<h1>Cam</h1>

<!-- <div *ngIf="loading">
  <img src="./assets/loading.gif" alt="loading" />
</div> -->

Select Camera:
<br />
<button
  mat-button
  color="primary"
  (click)="selectCamera('front'); startCamera = !startCamera"
>
  Front
</button>
<button
  mat-button
  color="accent"
  (click)="selectCamera('rear'); startCamera = !startCamera"
>
  Rear
</button>

<div *ngIf="liveVid">
  Choose Model:
  <button
    mat-button
    color="primary"
    (click)="selectModel('CocoSSD');">
    CocoSSD
  </button>
  <button
    mat-button
    color="accent"
    (click)="selectModel('Mobilinet');">
    Mobilinet
  </button>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Live</mat-card-title>
  </mat-card-header>
  <div>
    <video
      id="webcam"
      hidden
      muted
      autoplay
      width="300px"
      height="225px"
      #video
    ></video>
    <canvas id="canvas" #canvas></canvas>
  </div>
  <!-- <mat-card-content class="pred-text">
    <mat-chip-list *ngFor="let item of predictions">
      <mat-chip
        [color]="item.probability > 0.5 ? 'primary' : 'accent'"
        selected
      >
        {{ item.class }} - {{ item.score | percent }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content> -->
  <!-- {{ item.className }} - {{ item.probability | percent }} -->
</mat-card>
