<h1>Cam</h1>

<div *ngIf="loading" class="progress">
    <p>loading...</p>
    <mat-progress-spinner [color]="'warn'" [mode]="'indeterminate'" [value]="'test'">
      </mat-progress-spinner>
</div>

Select Camera:
<br />
<button mat-button color="primary" (click)="selectCamera('front'); startCamera = !startCamera">
  Front
</button>
<button mat-button color="accent" (click)="selectCamera('rear'); startCamera = !startCamera">
  Rear
</button>

<div *ngIf="liveVid">
  Choose Model:
  <button mat-button color="primary" (click)="selectModel('CocoSSD')">
    CocoSSD
  </button>
  <button mat-button color="accent" (click)="selectModel('Mobilinet')">
    Mobilinet
  </button>
</div>

<video id="webcam" hidden muted autoplay width="300px" height="225px" #video></video>

<mat-card style="position: relative;">
  <mat-card-header>
    <mat-card-title *ngIf="model">Live</mat-card-title>
  </mat-card-header>
  <div>
    <canvas id="canvas" #canvas></canvas>
  </div>
  <mat-card-content class="pred-text">
    <mat-chip-list *ngFor="let item of predictions">
      <mat-chip *ngIf="item.score" [color]="item.score > 0.5 ? 'primary' : 'accent'" selected>
        {{ item.class }} - {{ item.score | percent }}
      </mat-chip>
      <mat-chip *ngIf="item.probability" [color]="item.probability > 0.5 ? 'primary' : 'accent'" selected>
        {{ item.className }} - {{ item.probability | percent }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>