.pred-text {
    width: 18.5rem;
}

.mainContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.progress {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 40%;
}